body {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
}

.principal {
    background-image: url(./img/fondocolor.jpg);
    background-size: cover;
    border-color: rgb(0, 0, 0);
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-image: url(./img/bandera.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20X;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: aliceblue;
}

.contenido {
    background-color: rgb(231, 231, 231);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.areaIngresoDatos {
    margin-top: 20px;
}

.ingresoDatos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.tituloCampo {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.areaResultadoPersonaMayor {
    margin-top: 10 PX;
    margin-bottom: 10px;
}

.resultadoPersonaMayor {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.contenedorCajaTexto {
    flex: 2;
}

.error {
    font-size: 15px;
    font-style: italic;
    color: red;
}

.cajaTexto {
    font-size: 20px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    background-image: url(./img/universo.jpg);
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
}

.contenedorBoton {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.estiloBoton {
    font-size: 15px;
    font-weight: bolder;
    padding: 15px 25px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(136, 135, 138);
    border-radius: 5px;
    margin-left: 10PX;
    margin-right: 10PX;
}

.estiloBoton:hover {
    background-color: white;
    color: #4CAF50;
    border: 1px;
    border-color: #4CAF50;
    border-radius: 10px;
}

.tablaResultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

table {
    background-color: #ffffff;
    width: 40%;
    border: #0400ff85 solid 2px;
    border-collapse: collapse;
}

td {
    text-align: center;
    border: solid 2px;
}

th {
    background-color: #fda80b;
    border: solid 2px;
}

.piePagina {
    text-align: center;
    margin-top: 10px;
    background-color: azure;
}